**Importando o Dataset**

In [4]:
import pandas as pd

data = pd.read_csv('./GasPricesinBrazil_2004-2019.csv', sep=';')

In [8]:
data

,Unnamed: 0,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,...,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO
0,0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,...,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133,5,2004
1,1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,...,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115,5,2004
2,2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,...,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098,5,2004
3,3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,...,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143,5,2004
4,4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,...,1.400,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082,5,2004
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106818,106818,2019-06-23,2019-06-29,NORDESTE,RIO GRANDE DO NORTE,GNV,7,R$/m3,3.574,0.065,...,3.690,0.818,0.018,2.756,0,2.756,2.756,0,6,2019
106819,106819,2019-06-23,2019-06-29,SUL,RIO GRANDE DO SUL,GNV,23,R$/m3,3.401,0.129,...,3.789,0.95,0.038,2.451,0.402,1.9842,2.8661,0.164,6,2019
106820,106820,2019-06-23,2019-06-29,SUL,SANTA CATARINA,GNV,24,R$/m3,2.912,0.190,...,3.499,0.914,0.065,1.998,0,1.9981,1.9981,0,6,2019
106821,106821,2019-06-23,2019-06-29,SUDESTE,SAO PAULO,GNV,52,R$/m3,3.020,0.229,...,3.490,0.646,0.076,2.374,0.165,2.0179,2.5093,0.07,6,2019
106822,106822,2019-06-23,2019-06-29,NORDESTE,SERGIPE,GNV,4,R$/m3,3.697,0.005,...,3.699,1.179,0.001,2.518,0,2.5175,2.5175,0,6,2019

**Exibindo Informações do Dataset**

Exibindo as primeiras linhas do Dataset

In [5]:
data.head()

,Unnamed: 0,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,...,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO
0,0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127.0,R$/l,1.288,0.016,...,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133,5.0,2004.0
1,1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387.0,R$/l,1.162,0.114,...,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115,5.0,2004.0
2,2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192.0,R$/l,1.389,0.097,...,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098,5.0,2004.0
3,3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162.0,R$/l,1.262,0.070,...,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143,5.0,2004.0
4,4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103.0,R$/l,1.181,0.078,...,1.400,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082,5.0,2004.0

Informações gerais sobre o Dataset

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89773 entries, 0 to 89772
Data columns (total 21 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Unnamed: 0                     89773 non-null  int64
 1   DATA INICIAL                   89773 non-null  object
 2   DATA FINAL                     89773 non-null  object
 3   REGIÃO                         89772 non-null  object
 4   ESTADO                         89772 non-null  object
 5   PRODUTO                        89772 non-null  object
 6   NÚMERO DE POSTOS PESQUISADOS   89772 non-null  float64
 7   UNIDADE DE MEDIDA              89772 non-null  object
 8   PREÇO MÉDIO REVENDA            89772 non-null  float64
 9   DESVIO PADRÃO REVENDA          89772 non-null  float64
 10  PREÇO MÍNIMO REVENDA           89772 non-null  float64
 11  PREÇO MÁXIMO REVENDA           89772 non-null  float64
 12  MARGEM MÉDIA REVENDA           89772 non-null  object
 13  COEF DE VARIAÇÃO REVENDA       89772 non-null  float64
 14  PREÇO MÉDIO DISTRIBUIÇÃO       89772 non-null  object
 15  DESVIO PADRÃO DISTRIBUIÇÃO     89772 non-null  object
 16  PREÇO MÍNIMO DISTRIBUIÇÃO      89772 non-null  object
 17  PREÇO MÁXIMO DISTRIBUIÇÃO      89772 non-null  object
 18  COEF DE VARIAÇÃO DISTRIBUIÇÃO  89772 non-null  object
 19  MÊS                            89772 non-null  float64
 20  ANO                            89772 non-null  float64
dtypes: float64(8), int64(1), object(12)
memory usage: 14.4+ MB

Data Frame

In [7]:
type(data)

pandas.core.frame.DataFrame

In [8]:
data.shape

(89773, 21)

In [13]:
print(f'O DataFrame possui {data.shape[0]} linhas/observações/registros e {data.shape[1]} colunas/atributos/variáveis.')

O DataFrame possui 106823 linhas/observações/registros e 21 colunas/atributos/variáveis.

**Criando um DataFrame**

In [9]:
personagens_df = pd.DataFrame({
    'nome': ['Luke Skywalker', 'Yoda', 'Palpatine'],
    'idade': [16, 1000, 70],
    'peso': [70.5, 15.2, 60.1],
    'eh jedi': [True, True, False]  # o nome das colunas podem ter espaços
})

In [15]:
personagens_df

             nome  idade  peso  eh jedi
0  Luke Skywalker     16  70.5     True
1            Yoda   1000  15.2     True
2       Palpatine     70  60.1    False

In [10]:
personagens_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   nome     3 non-null      object
 1   idade    3 non-null      int64
 2   peso     3 non-null      float64
 3   eh jedi  3 non-null      bool
dtypes: bool(1), float64(1), int64(1), object(1)
memory usage: 207.0+ bytes

**Renomeando as colunas de um DataFrame**

In [11]:
personagens_df.columns

Index(['nome', 'idade', 'peso', 'eh jedi'], dtype='object')

In [12]:
type(personagens_df.columns)

pandas.core.indexes.base.Index

In [13]:
list(personagens_df.columns)

['nome', 'idade', 'peso', 'eh jedi']

In [14]:
personagens_df

             nome  idade  peso  eh jedi
0  Luke Skywalker     16  70.5     True
1            Yoda   1000  15.2     True
2       Palpatine     70  60.1    False

In [15]:
personagens_df_renomeado = personagens_df.rename(columns={
    'nome': 'Nome Completo',  # renomeia a coluna de nome 'nome' para 'Nome Completo'
    'idade': 'Idade'
})

In [16]:
personagens_df_renomeado

    Nome Completo  Idade  peso  eh jedi
0  Luke Skywalker     16  70.5     True
1            Yoda   1000  15.2     True
2       Palpatine     70  60.1    False

In [17]:
personagens_df

             nome  idade  peso  eh jedi
0  Luke Skywalker     16  70.5     True
1            Yoda   1000  15.2     True
2       Palpatine     70  60.1    False

In [18]:
personagens_df.rename(columns={'nome': 'Nome Completo','idade': 'Idade'}, inplace=True)

In [19]:
personagens_df

    Nome Completo  Idade  peso  eh jedi
0  Luke Skywalker     16  70.5     True
1            Yoda   1000  15.2     True
2       Palpatine     70  60.1    False

In [20]:
personagens_df.columns

Index(['Nome Completo', 'Idade', 'peso', 'eh jedi'], dtype='object')

In [21]:
personagens_df.columns = ['NOME', 'IDADE', 'PESO', 'EH_JEDI']

In [22]:
personagens_df

             NOME  IDADE  PESO  EH_JEDI
0  Luke Skywalker     16  70.5     True
1            Yoda   1000  15.2     True
2       Palpatine     70  60.1    False

# Series

In [23]:
data.head()

,Unnamed: 0,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,...,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO
0,0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127.0,R$/l,1.288,0.016,...,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133,5.0,2004.0
1,1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387.0,R$/l,1.162,0.114,...,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115,5.0,2004.0
2,2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192.0,R$/l,1.389,0.097,...,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098,5.0,2004.0
3,3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162.0,R$/l,1.262,0.070,...,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143,5.0,2004.0
4,4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103.0,R$/l,1.181,0.078,...,1.400,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082,5.0,2004.0

In [24]:
# selecionando uma coluna inteira
data['ESTADO']

0          DISTRITO FEDERAL
1                     GOIAS
2               MATO GROSSO
3        MATO GROSSO DO SUL
4                   ALAGOAS
                ...
89768           MATO GROSSO
89769    MATO GROSSO DO SUL
89770          MINAS GERAIS
89771                  PARA
89772                   NaN
Name: ESTADO, Length: 89773, dtype: object

In [25]:
# selecionando uma coluna inteira
# esta forma de acesso, só funciona para colunas com nomes sem espaços, acentos, etc (caracteres inválidos)
data.ESTADO

0          DISTRITO FEDERAL
1                     GOIAS
2               MATO GROSSO
3        MATO GROSSO DO SUL
4                   ALAGOAS
                ...
89768           MATO GROSSO
89769    MATO GROSSO DO SUL
89770          MINAS GERAIS
89771                  PARA
89772                   NaN
Name: ESTADO, Length: 89773, dtype: object

In [26]:
type(data['ESTADO'])

pandas.core.series.Series

In [27]:
# selecionando a observação indexada no índice [1] do dataframe
data.iloc[1]

Unnamed: 0                                      1
DATA INICIAL                           2004-05-09
DATA FINAL                             2004-05-15
REGIÃO                               CENTRO OESTE
ESTADO                                      GOIAS
PRODUTO                          ETANOL HIDRATADO
NÚMERO DE POSTOS PESQUISADOS                387.0
UNIDADE DE MEDIDA                            R$/l
PREÇO MÉDIO REVENDA                         1.162
DESVIO PADRÃO REVENDA                       0.114
PREÇO MÍNIMO REVENDA                         0.89
PREÇO MÁXIMO REVENDA                        1.449
MARGEM MÉDIA REVENDA                        0.399
COEF DE VARIAÇÃO REVENDA                    0.098
PREÇO MÉDIO DISTRIBUIÇÃO                    0.763
DESVIO PADRÃO DISTRIBUIÇÃO                  0.088
PREÇO MÍNIMO DISTRIBUIÇÃO                  0.5013
PREÇO MÁXIMO DISTRIBUIÇÃO                    1.05
COEF DE VARIAÇÃO DISTRIBUIÇÃO               0.115
MÊS                                           5.0
ANO                                        2004.0
Name: 1, dtype: object

In [28]:
type(data.iloc[1])

pandas.core.series.Series

**Criando uma Series**

In [29]:
pd.Series([5.5, 6.0, 9.5])

0    5.5
1    6.0
2    9.5
dtype: float64

In [30]:
pd.Series([5.5, 6.0, 9.5], index=['prova 1', 'prova 2', 'projeto'], name='Notas dos Luke Skywalker')

prova 1    5.5
prova 2    6.0
projeto    9.5
Name: Notas dos Luke Skywalker, dtype: float64

**Atribuindo Dados**

In [31]:
data.head()

,Unnamed: 0,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,...,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO
0,0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127.0,R$/l,1.288,0.016,...,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133,5.0,2004.0
1,1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387.0,R$/l,1.162,0.114,...,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115,5.0,2004.0
2,2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192.0,R$/l,1.389,0.097,...,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098,5.0,2004.0
3,3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162.0,R$/l,1.262,0.070,...,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143,5.0,2004.0
4,4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103.0,R$/l,1.181,0.078,...,1.400,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082,5.0,2004.0

Atribuindo constantes

In [32]:
produto_view = data['PRODUTO']  # a series retornada refente à coluna, NÃO É UMA CÓPIA, mas sim, uma REFERÊNCIA/VIEW à coluna do dataframe
produto_view

0        ETANOL HIDRATADO
1        ETANOL HIDRATADO
2        ETANOL HIDRATADO
3        ETANOL HIDRATADO
4        ETANOL HIDRATADO
               ...
89768      GASOLINA COMUM
89769      GASOLINA COMUM
89770      GASOLINA COMUM
89771      GASOLINA COMUM
89772                 NaN
Name: PRODUTO, Length: 89773, dtype: object

In [33]:
produto_copy_bkp = data['PRODUTO'].copy()  # retorna uma cópia da coluna 'PRODUTO'
produto_copy_bkp

0        ETANOL HIDRATADO
1        ETANOL HIDRATADO
2        ETANOL HIDRATADO
3        ETANOL HIDRATADO
4        ETANOL HIDRATADO
               ...
89768      GASOLINA COMUM
89769      GASOLINA COMUM
89770      GASOLINA COMUM
89771      GASOLINA COMUM
89772                 NaN
Name: PRODUTO, Length: 89773, dtype: object

In [34]:
data['PRODUTO'] = 'Combustível'  # atribuindo o valor constante 'Combustível' para linha do dataframe na coluna 'PRODUTO'

In [35]:
data.head()

,Unnamed: 0,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,...,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO
0,0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,Combustível,127.0,R$/l,1.288,0.016,...,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133,5.0,2004.0
1,1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,Combustível,387.0,R$/l,1.162,0.114,...,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115,5.0,2004.0
2,2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,Combustível,192.0,R$/l,1.389,0.097,...,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098,5.0,2004.0
3,3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,Combustível,162.0,R$/l,1.262,0.070,...,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143,5.0,2004.0
4,4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,Combustível,103.0,R$/l,1.181,0.078,...,1.400,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082,5.0,2004.0

In [36]:
produto_view

0        ETANOL HIDRATADO
1        ETANOL HIDRATADO
2        ETANOL HIDRATADO
3        ETANOL HIDRATADO
4        ETANOL HIDRATADO
               ...
89768      GASOLINA COMUM
89769      GASOLINA COMUM
89770      GASOLINA COMUM
89771      GASOLINA COMUM
89772                 NaN
Name: PRODUTO, Length: 89773, dtype: object

In [37]:
produto_copy_bkp

0        ETANOL HIDRATADO
1        ETANOL HIDRATADO
2        ETANOL HIDRATADO
3        ETANOL HIDRATADO
4        ETANOL HIDRATADO
               ...
89768      GASOLINA COMUM
89769      GASOLINA COMUM
89770      GASOLINA COMUM
89771      GASOLINA COMUM
89772                 NaN
Name: PRODUTO, Length: 89773, dtype: object

# Atribuindo listas ou series

In [38]:
nrows, ncols = data.shape
nrows, ncols

(89773, 21)

In [39]:
novos_produtos = [f'Produto {i}' for i in range(nrows)]
len(novos_produtos)

89773

In [40]:
# a quantidade de elementos da lista `novos_produtos` é igual ao número de linhas do dataframe
data['PRODUTO'] = novos_produtos

In [41]:
data

,Unnamed: 0,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,...,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO
0,0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,Produto 0,127.0,R$/l,1.288,0.016,...,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133,5.0,2004.0
1,1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,Produto 1,387.0,R$/l,1.162,0.114,...,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115,5.0,2004.0
2,2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,Produto 2,192.0,R$/l,1.389,0.097,...,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098,5.0,2004.0
3,3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,Produto 3,162.0,R$/l,1.262,0.070,...,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143,5.0,2004.0
4,4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,Produto 4,103.0,R$/l,1.181,0.078,...,1.400,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082,5.0,2004.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89768,89768,2017-04-23,2017-04-29,CENTRO OESTE,MATO GROSSO,Produto 89768,136.0,R$/l,3.665,0.159,...,4.100,0.521,0.043,3.144,0.087,3.04,3.4346,0.028,4.0,2017.0
89769,89769,2017-04-23,2017-04-29,CENTRO OESTE,MATO GROSSO DO SUL,Produto 89769,83.0,R$/l,3.574,0.181,...,3.899,0.45,0.051,3.124,0.08,2.96,3.3226,0.026,4.0,2017.0
89770,89770,2017-04-23,2017-04-29,SUDESTE,MINAS GERAIS,Produto 89770,598.0,R$/l,3.691,0.162,...,4.149,0.413,0.044,3.278,0.08,3.14,3.5745,0.024,4.0,2017.0
89771,89771,2017-04-23,2017-04-29,NORTE,PARA,Produto 89771,111.0,R$/l,3.950,0.274,...,4.560,0.532,0.069,3.418,0.096,3.2212,3.62,0.028,4.0,2017.0
89772,89772,2017-04-23,2017-04-29,NaN,NaN,Produto 89772,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [42]:
print(produto_view)
print('\n')
print(produto_copy_bkp)

0        ETANOL HIDRATADO
1        ETANOL HIDRATADO
2        ETANOL HIDRATADO
3        ETANOL HIDRATADO
4        ETANOL HIDRATADO
               ...
89768      GASOLINA COMUM
89769      GASOLINA COMUM
89770      GASOLINA COMUM
89771      GASOLINA COMUM
89772                 NaN
Name: PRODUTO, Length: 89773, dtype: object


0        ETANOL HIDRATADO
1        ETANOL HIDRATADO
2        ETANOL HIDRATADO
3        ETANOL HIDRATADO
4        ETANOL HIDRATADO
               ...
89768      GASOLINA COMUM
89769      GASOLINA COMUM
89770      GASOLINA COMUM
89771      GASOLINA COMUM
89772                 NaN
Name: PRODUTO, Length: 89773, dtype: object

In [43]:

# voltando para os produtos originais
data['PRODUTO'] = produto_copy_bkp  # produto_copy_bkp é uma Series

In [44]:
data

,Unnamed: 0,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,...,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO
0,0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127.0,R$/l,1.288,0.016,...,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133,5.0,2004.0
1,1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387.0,R$/l,1.162,0.114,...,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115,5.0,2004.0
2,2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192.0,R$/l,1.389,0.097,...,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098,5.0,2004.0
3,3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162.0,R$/l,1.262,0.070,...,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143,5.0,2004.0
4,4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103.0,R$/l,1.181,0.078,...,1.400,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082,5.0,2004.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89768,89768,2017-04-23,2017-04-29,CENTRO OESTE,MATO GROSSO,GASOLINA COMUM,136.0,R$/l,3.665,0.159,...,4.100,0.521,0.043,3.144,0.087,3.04,3.4346,0.028,4.0,2017.0
89769,89769,2017-04-23,2017-04-29,CENTRO OESTE,MATO GROSSO DO SUL,GASOLINA COMUM,83.0,R$/l,3.574,0.181,...,3.899,0.45,0.051,3.124,0.08,2.96,3.3226,0.026,4.0,2017.0
89770,89770,2017-04-23,2017-04-29,SUDESTE,MINAS GERAIS,GASOLINA COMUM,598.0,R$/l,3.691,0.162,...,4.149,0.413,0.044,3.278,0.08,3.14,3.5745,0.024,4.0,2017.0
89771,89771,2017-04-23,2017-04-29,NORTE,PARA,GASOLINA COMUM,111.0,R$/l,3.950,0.274,...,4.560,0.532,0.069,3.418,0.096,3.2212,3.62,0.028,4.0,2017.0
89772,89772,2017-04-23,2017-04-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Criando novas colunas

In [45]:
# criando uma coluna a partir de um valor constante/default
# todas as linhas terão o mesmo valor para esta nova coluna
data['coluna sem nocao'] = 'DEFAULT'
data

,Unnamed: 0,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,...,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO,coluna sem nocao
0,0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127.0,R$/l,1.288,0.016,...,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133,5.0,2004.0,DEFAULT
1,1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387.0,R$/l,1.162,0.114,...,0.399,0.098,0.763,0.088,0.5013,1.05,0.115,5.0,2004.0,DEFAULT
2,2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192.0,R$/l,1.389,0.097,...,0.419,0.070,0.97,0.095,0.5614,1.161,0.098,5.0,2004.0,DEFAULT
3,3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162.0,R$/l,1.262,0.070,...,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143,5.0,2004.0,DEFAULT
4,4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103.0,R$/l,1.181,0.078,...,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082,5.0,2004.0,DEFAULT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89768,89768,2017-04-23,2017-04-29,CENTRO OESTE,MATO GROSSO,GASOLINA COMUM,136.0,R$/l,3.665,0.159,...,0.521,0.043,3.144,0.087,3.04,3.4346,0.028,4.0,2017.0,DEFAULT
89769,89769,2017-04-23,2017-04-29,CENTRO OESTE,MATO GROSSO DO SUL,GASOLINA COMUM,83.0,R$/l,3.574,0.181,...,0.45,0.051,3.124,0.08,2.96,3.3226,0.026,4.0,2017.0,DEFAULT
89770,89770,2017-04-23,2017-04-29,SUDESTE,MINAS GERAIS,GASOLINA COMUM,598.0,R$/l,3.691,0.162,...,0.413,0.044,3.278,0.08,3.14,3.5745,0.024,4.0,2017.0,DEFAULT
89771,89771,2017-04-23,2017-04-29,NORTE,PARA,GASOLINA COMUM,111.0,R$/l,3.950,0.274,...,0.532,0.069,3.418,0.096,3.2212,3.62,0.028,4.0,2017.0,DEFAULT
89772,89772,2017-04-23,2017-04-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DEFAULT

In [46]:
data['coluna a partir de lista'] = range(data.shape[0])

In [47]:
data

,Unnamed: 0,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,...,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO,coluna sem nocao,coluna a partir de lista
0,0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127.0,R$/l,1.288,0.016,...,0.012,0.825,0.11,0.4201,0.9666,0.133,5.0,2004.0,DEFAULT,0
1,1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387.0,R$/l,1.162,0.114,...,0.098,0.763,0.088,0.5013,1.05,0.115,5.0,2004.0,DEFAULT,1
2,2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192.0,R$/l,1.389,0.097,...,0.070,0.97,0.095,0.5614,1.161,0.098,5.0,2004.0,DEFAULT,2
3,3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162.0,R$/l,1.262,0.070,...,0.055,0.83,0.119,0.5991,1.22242,0.143,5.0,2004.0,DEFAULT,3
4,4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103.0,R$/l,1.181,0.078,...,0.066,0.941,0.077,0.7441,1.0317,0.082,5.0,2004.0,DEFAULT,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89768,89768,2017-04-23,2017-04-29,CENTRO OESTE,MATO GROSSO,GASOLINA COMUM,136.0,R$/l,3.665,0.159,...,0.043,3.144,0.087,3.04,3.4346,0.028,4.0,2017.0,DEFAULT,89768
89769,89769,2017-04-23,2017-04-29,CENTRO OESTE,MATO GROSSO DO SUL,GASOLINA COMUM,83.0,R$/l,3.574,0.181,...,0.051,3.124,0.08,2.96,3.3226,0.026,4.0,2017.0,DEFAULT,89769
89770,89770,2017-04-23,2017-04-29,SUDESTE,MINAS GERAIS,GASOLINA COMUM,598.0,R$/l,3.691,0.162,...,0.044,3.278,0.08,3.14,3.5745,0.024,4.0,2017.0,DEFAULT,89770
89771,89771,2017-04-23,2017-04-29,NORTE,PARA,GASOLINA COMUM,111.0,R$/l,3.950,0.274,...,0.069,3.418,0.096,3.2212,3.62,0.028,4.0,2017.0,DEFAULT,89771
89772,89772,2017-04-23,2017-04-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DEFAULT,89772

In [48]:
# não funciona pq a quantidade de elementos da lista (a serem atribuídos a nova coluna) é diferente
# da quantidade de linhas do dataframe
data['nao funciona'] = [1, 2, 3]

ValueError: Length of values (3) does not match length of index (89773)

In [49]:
data.head()

,Unnamed: 0,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,...,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO,coluna sem nocao,coluna a partir de lista
0,0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127.0,R$/l,1.288,0.016,...,0.012,0.825,0.11,0.4201,0.9666,0.133,5.0,2004.0,DEFAULT,0
1,1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387.0,R$/l,1.162,0.114,...,0.098,0.763,0.088,0.5013,1.05,0.115,5.0,2004.0,DEFAULT,1
2,2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192.0,R$/l,1.389,0.097,...,0.070,0.97,0.095,0.5614,1.161,0.098,5.0,2004.0,DEFAULT,2
3,3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162.0,R$/l,1.262,0.070,...,0.055,0.83,0.119,0.5991,1.22242,0.143,5.0,2004.0,DEFAULT,3
4,4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103.0,R$/l,1.181,0.078,...,0.066,0.941,0.077,0.7441,1.0317,0.082,5.0,2004.0,DEFAULT,4

In [50]:
data['PREÇO MÉDIO REVENDA (dólares)'] = data['PREÇO MÉDIO REVENDA'] * 6.0

In [51]:
data

,Unnamed: 0,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,...,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO,coluna sem nocao,coluna a partir de lista,PREÇO MÉDIO REVENDA (dólares)
0,0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127.0,R$/l,1.288,0.016,...,0.825,0.11,0.4201,0.9666,0.133,5.0,2004.0,DEFAULT,0,7.728
1,1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387.0,R$/l,1.162,0.114,...,0.763,0.088,0.5013,1.05,0.115,5.0,2004.0,DEFAULT,1,6.972
2,2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192.0,R$/l,1.389,0.097,...,0.97,0.095,0.5614,1.161,0.098,5.0,2004.0,DEFAULT,2,8.334
3,3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162.0,R$/l,1.262,0.070,...,0.83,0.119,0.5991,1.22242,0.143,5.0,2004.0,DEFAULT,3,7.572
4,4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103.0,R$/l,1.181,0.078,...,0.941,0.077,0.7441,1.0317,0.082,5.0,2004.0,DEFAULT,4,7.086
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89768,89768,2017-04-23,2017-04-29,CENTRO OESTE,MATO GROSSO,GASOLINA COMUM,136.0,R$/l,3.665,0.159,...,3.144,0.087,3.04,3.4346,0.028,4.0,2017.0,DEFAULT,89768,21.990
89769,89769,2017-04-23,2017-04-29,CENTRO OESTE,MATO GROSSO DO SUL,GASOLINA COMUM,83.0,R$/l,3.574,0.181,...,3.124,0.08,2.96,3.3226,0.026,4.0,2017.0,DEFAULT,89769,21.444
89770,89770,2017-04-23,2017-04-29,SUDESTE,MINAS GERAIS,GASOLINA COMUM,598.0,R$/l,3.691,0.162,...,3.278,0.08,3.14,3.5745,0.024,4.0,2017.0,DEFAULT,89770,22.146
89771,89771,2017-04-23,2017-04-29,NORTE,PARA,GASOLINA COMUM,111.0,R$/l,3.950,0.274,...,3.418,0.096,3.2212,3.62,0.028,4.0,2017.0,DEFAULT,89771,23.700
89772,89772,2017-04-23,2017-04-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DEFAULT,89772,NaN

# Índices

In [52]:
data

,Unnamed: 0,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,...,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO,coluna sem nocao,coluna a partir de lista,PREÇO MÉDIO REVENDA (dólares)
0,0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127.0,R$/l,1.288,0.016,...,0.825,0.11,0.4201,0.9666,0.133,5.0,2004.0,DEFAULT,0,7.728
1,1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387.0,R$/l,1.162,0.114,...,0.763,0.088,0.5013,1.05,0.115,5.0,2004.0,DEFAULT,1,6.972
2,2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192.0,R$/l,1.389,0.097,...,0.97,0.095,0.5614,1.161,0.098,5.0,2004.0,DEFAULT,2,8.334
3,3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162.0,R$/l,1.262,0.070,...,0.83,0.119,0.5991,1.22242,0.143,5.0,2004.0,DEFAULT,3,7.572
4,4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103.0,R$/l,1.181,0.078,...,0.941,0.077,0.7441,1.0317,0.082,5.0,2004.0,DEFAULT,4,7.086
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89768,89768,2017-04-23,2017-04-29,CENTRO OESTE,MATO GROSSO,GASOLINA COMUM,136.0,R$/l,3.665,0.159,...,3.144,0.087,3.04,3.4346,0.028,4.0,2017.0,DEFAULT,89768,21.990
89769,89769,2017-04-23,2017-04-29,CENTRO OESTE,MATO GROSSO DO SUL,GASOLINA COMUM,83.0,R$/l,3.574,0.181,...,3.124,0.08,2.96,3.3226,0.026,4.0,2017.0,DEFAULT,89769,21.444
89770,89770,2017-04-23,2017-04-29,SUDESTE,MINAS GERAIS,GASOLINA COMUM,598.0,R$/l,3.691,0.162,...,3.278,0.08,3.14,3.5745,0.024,4.0,2017.0,DEFAULT,89770,22.146
89771,89771,2017-04-23,2017-04-29,NORTE,PARA,GASOLINA COMUM,111.0,R$/l,3.950,0.274,...,3.418,0.096,3.2212,3.62,0.028,4.0,2017.0,DEFAULT,89771,23.700
89772,89772,2017-04-23,2017-04-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DEFAULT,89772,NaN

In [53]:
data.index

RangeIndex(start=0, stop=89773, step=1)

**Data Frame com Índices Textuais (labels)**

In [54]:
pesquisa_de_satisfacao = pd.DataFrame({
    'bom': [50, 21, 100],
    'ruim': [131, 2, 30],
    'pessimo': [30, 20, 1]
}, index=['XboxOne', 'Playstation4', 'Switch'])

In [55]:
pesquisa_de_satisfacao.head()

              bom  ruim  pessimo
XboxOne        50   131       30
Playstation4   21     2       20
Switch        100    30        1

In [56]:
pesquisa_de_satisfacao.index

Index(['XboxOne', 'Playstation4', 'Switch'], dtype='object')

**Selecionando uma ou mais observações (Indexação)**

In [57]:
data.head()

,Unnamed: 0,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,...,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO,coluna sem nocao,coluna a partir de lista,PREÇO MÉDIO REVENDA (dólares)
0,0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127.0,R$/l,1.288,0.016,...,0.825,0.11,0.4201,0.9666,0.133,5.0,2004.0,DEFAULT,0,7.728
1,1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387.0,R$/l,1.162,0.114,...,0.763,0.088,0.5013,1.05,0.115,5.0,2004.0,DEFAULT,1,6.972
2,2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192.0,R$/l,1.389,0.097,...,0.97,0.095,0.5614,1.161,0.098,5.0,2004.0,DEFAULT,2,8.334
3,3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162.0,R$/l,1.262,0.070,...,0.83,0.119,0.5991,1.22242,0.143,5.0,2004.0,DEFAULT,3,7.572
4,4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103.0,R$/l,1.181,0.078,...,0.941,0.077,0.7441,1.0317,0.082,5.0,2004.0,DEFAULT,4,7.086

Selecionando uma observação/linha:

In [58]:
# selecionando a linha 1 ===> observação de índice [1] do dataframe
data.iloc[1]

Unnamed: 0                                      1
DATA INICIAL                           2004-05-09
DATA FINAL                             2004-05-15
REGIÃO                               CENTRO OESTE
ESTADO                                      GOIAS
PRODUTO                          ETANOL HIDRATADO
NÚMERO DE POSTOS PESQUISADOS                387.0
UNIDADE DE MEDIDA                            R$/l
PREÇO MÉDIO REVENDA                         1.162
DESVIO PADRÃO REVENDA                       0.114
PREÇO MÍNIMO REVENDA                         0.89
PREÇO MÁXIMO REVENDA                        1.449
MARGEM MÉDIA REVENDA                        0.399
COEF DE VARIAÇÃO REVENDA                    0.098
PREÇO MÉDIO DISTRIBUIÇÃO                    0.763
DESVIO PADRÃO DISTRIBUIÇÃO                  0.088
PREÇO MÍNIMO DISTRIBUIÇÃO                  0.5013
PREÇO MÁXIMO DISTRIBUIÇÃO                    1.05
COEF DE VARIAÇÃO DISTRIBUIÇÃO               0.115
MÊS                                           5.0
ANO                                        2004.0
coluna sem nocao                          DEFAULT
coluna a partir de lista                        1
PREÇO MÉDIO REVENDA (dólares)               6.972
Name: 1, dtype: object

Selecionando múltiplas observações/linhas:

In [59]:
# selecionando as linhas de índice de 0 a 5 (incluso)
data.iloc[:6]

,Unnamed: 0,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,...,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO,coluna sem nocao,coluna a partir de lista,PREÇO MÉDIO REVENDA (dólares)
0,0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127.0,R$/l,1.288,0.016,...,0.825,0.11,0.4201,0.9666,0.133,5.0,2004.0,DEFAULT,0,7.728
1,1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387.0,R$/l,1.162,0.114,...,0.763,0.088,0.5013,1.05,0.115,5.0,2004.0,DEFAULT,1,6.972
2,2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192.0,R$/l,1.389,0.097,...,0.97,0.095,0.5614,1.161,0.098,5.0,2004.0,DEFAULT,2,8.334
3,3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162.0,R$/l,1.262,0.070,...,0.83,0.119,0.5991,1.22242,0.143,5.0,2004.0,DEFAULT,3,7.572
4,4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103.0,R$/l,1.181,0.078,...,0.941,0.077,0.7441,1.0317,0.082,5.0,2004.0,DEFAULT,4,7.086
5,5,2004-05-09,2004-05-15,NORDESTE,BAHIA,ETANOL HIDRATADO,408.0,R$/l,1.383,0.132,...,0.957,0.128,0.5686,1.35,0.134,5.0,2004.0,DEFAULT,5,8.298

In [60]:
# selecionando as linhas de índice de 10 a 15 (incluso)
data.iloc[10:16]

,Unnamed: 0,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,...,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO,coluna sem nocao,coluna a partir de lista,PREÇO MÉDIO REVENDA (dólares)
10,10,2004-05-09,2004-05-15,NORDESTE,PIAUI,ETANOL HIDRATADO,89.0,R$/l,1.573,0.134,...,1.079,0.078,0.8857,1.2499,0.072,5.0,2004.0,DEFAULT,10,9.438
11,11,2004-05-09,2004-05-15,NORDESTE,RIO GRANDE DO NORTE,ETANOL HIDRATADO,131.0,R$/l,1.276,0.116,...,0.944,0.078,0.7119,1.1386,0.083,5.0,2004.0,DEFAULT,11,7.656
12,12,2004-05-09,2004-05-15,NORDESTE,SERGIPE,ETANOL HIDRATADO,57.0,R$/l,1.301,0.109,...,0.98,0.052,0.8267,1.1059,0.053,5.0,2004.0,DEFAULT,12,7.806
13,13,2004-05-09,2004-05-15,NORTE,ACRE,ETANOL HIDRATADO,33.0,R$/l,1.805,0.134,...,1.116,0.171,0.767,1.2992,0.153,5.0,2004.0,DEFAULT,13,10.830
14,14,2004-05-09,2004-05-15,NORTE,AMAPA,ETANOL HIDRATADO,15.0,R$/l,1.785,0.035,...,1.373,0.167,0.8339,1.4912,0.122,5.0,2004.0,DEFAULT,14,10.710
15,15,2004-05-09,2004-05-15,NORTE,AMAZONAS,ETANOL HIDRATADO,53.0,R$/l,1.578,0.123,...,1.137,0.068,0.9515,1.2109,0.06,5.0,2004.0,DEFAULT,15,9.468

In [61]:
# selecionando as linhas/observações de índice 1, 5, 10, 15
data.iloc[[1, 5, 10, 15]]

,Unnamed: 0,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,...,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO,coluna sem nocao,coluna a partir de lista,PREÇO MÉDIO REVENDA (dólares)
1,1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387.0,R$/l,1.162,0.114,...,0.763,0.088,0.5013,1.05,0.115,5.0,2004.0,DEFAULT,1,6.972
5,5,2004-05-09,2004-05-15,NORDESTE,BAHIA,ETANOL HIDRATADO,408.0,R$/l,1.383,0.132,...,0.957,0.128,0.5686,1.35,0.134,5.0,2004.0,DEFAULT,5,8.298
10,10,2004-05-09,2004-05-15,NORDESTE,PIAUI,ETANOL HIDRATADO,89.0,R$/l,1.573,0.134,...,1.079,0.078,0.8857,1.2499,0.072,5.0,2004.0,DEFAULT,10,9.438
15,15,2004-05-09,2004-05-15,NORTE,AMAZONAS,ETANOL HIDRATADO,53.0,R$/l,1.578,0.123,...,1.137,0.068,0.9515,1.2109,0.06,5.0,2004.0,DEFAULT,15,9.468

In [62]:
# selecionando as linhas/observações de índices 5, 1, 15, 10
data.iloc[[5, 1, 15, 10]]

,Unnamed: 0,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,...,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO,coluna sem nocao,coluna a partir de lista,PREÇO MÉDIO REVENDA (dólares)
5,5,2004-05-09,2004-05-15,NORDESTE,BAHIA,ETANOL HIDRATADO,408.0,R$/l,1.383,0.132,...,0.957,0.128,0.5686,1.35,0.134,5.0,2004.0,DEFAULT,5,8.298
1,1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387.0,R$/l,1.162,0.114,...,0.763,0.088,0.5013,1.05,0.115,5.0,2004.0,DEFAULT,1,6.972
15,15,2004-05-09,2004-05-15,NORTE,AMAZONAS,ETANOL HIDRATADO,53.0,R$/l,1.578,0.123,...,1.137,0.068,0.9515,1.2109,0.06,5.0,2004.0,DEFAULT,15,9.468
10,10,2004-05-09,2004-05-15,NORDESTE,PIAUI,ETANOL HIDRATADO,89.0,R$/l,1.573,0.134,...,1.079,0.078,0.8857,1.2499,0.072,5.0,2004.0,DEFAULT,10,9.438

In [63]:
# retornar o valor da linha de índice 1, coluna 4 ('ESTADO')
data.iloc[1, 4]

'GOIAS'