In [3]:
import pandas as pd

In [13]:
data = pd.read_csv('./classification_results_trial_0001.csv', sep=',')

In [14]:
data.head()

      image_path real_class predicted_class  prob_benign  prob_malign
0  image_001.jpg     malign          malign     0.031429     0.968571
1  image_002.jpg     benign          benign     0.636410     0.363590
2  image_003.jpg     malign          malign     0.314356     0.685644
3  image_004.jpg     benign          benign     0.508571     0.491429
4  image_005.jpg     benign          benign     0.907566     0.092434

In [15]:
data["predicted_class"]

0     malign
1     benign
2     malign
3     benign
4     benign
       ...
95    malign
96    benign
97    benign
98    benign
99    benign
Name: predicted_class, Length: 100, dtype: object

In [16]:
data["predicted_class"].unique()

array(['malign', 'benign'], dtype=object)

In [17]:
data["predicted_class"].value_counts()

predicted_class
benign    51
malign    49
Name: count, dtype: int64